<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>CareerBoost</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registering</display-name>
    <servlet-name>Registering</servlet-name>
    <servlet-class>Registering.Registering</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registering</servlet-name>
    <url-pattern>/Registering</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchJob</display-name>
    <servlet-name>SearchJob</servlet-name>
    <servlet-class>SearchJob.SearchJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchJob</servlet-name>
    <url-pattern>/SearchJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSkill</display-name>
    <servlet-name>UpdateSkill</servlet-name>
    <servlet-class>UpdateSkill.UpdateSkill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSkill</servlet-name>
    <url-pattern>/UpdateSkill</url-pattern>
  </servlet-mapping>
</web-app>